* {
    margin-top: 0px;
    margin-bottom: 0px;
}

body {
    height: 100vh;
}


.top {
    height: 10vh;
}
.middle {
    height: 80vh;
}

.bottom {
    height: 10vh;
}

.ReactCodeMirror {
    height: 100%;
}
